

{% extends 'main/base.html' %}
{% block title%}Create and Update{%endblock%}
    {% block content %}
        <p>Create objects and save it on the database.</p>
        <form action="", method="post" autocomplete="off">
            {% csrf_token %}
            {{form.as_p}}
            </div>
                <div>
                     <button type="submit" class="btn btn-success btn-block btn-lg">SUBMIT</button>
                </div>
                <div>
                    <a href="{% url 'display' %}" class="btn btn-secondary btn-block btn-lg">
                        Back to List
                    </a>
                </div>
            </div>
        </form>
    {% endblock %}



    
